[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-fb-squared:before {
    content: "\e600";
}

.icon-gplus-squared:before {
    content: "\e60c";
}

.icon-mail-squared:before {
    content: "\e60d";
}

.icon-thumbs-down:before {
    content: "\e60e";
}

.icon-thumbs-up:before {
    content: "\e60f";
}

.icon-tw-squared:before {
    content: "\e610";
}

.icon-tw-empty:before {
    content: "\e60b";
}

.icon-gplus-empty:before {
    content: "\ea88";
}

.icon-fb-empty:before {
    content: "\ea8c";
}

.icon-users:before {
    content: "\e60a";
}

.icon-cancel-circle:before {
    content: "\e601";
}

.icon-cancel:before {
    content: "\e602";
}

.icon-info-empty:before {
    content: "\e603";
}

.icon-info-full:before {
    content: "\e604";
}

.icon-share-squared:before {
    content: "\e605";
}

.icon-forward:before {
    content: "\e606";
}

.icon-custom-back:before {
    content: "\e607";
}

.icon-custom-menu:before {
    content: "\e608";
}

.icon-custom-chevron-down:before {
    content: "\e609";
}

.icon-loading:before {
    content: "\e981";
}

.icon-search:before {
    content: "\e986";
}

.icon-menu:before {
    content: "\e9bb";
}

.icon-share:before {
    content: "\ea82";
}

.icon-mail-squared-no-border:before {
    content: "\ea83";
}

.icon-mail-rounded:before {
    content: "\ea86";
}

.icon-gplus-squared-no-border:before {
    content: "\ea89";
}

.icon-gplus-rounded:before {
    content: "\ea8a";
}

.icon-fb-squared-no-border:before {
    content: "\ea8d";
}

.icon-fb-rounded:before {
    content: "\ea8e";
}

.icon-tw-rounded:before {
    content: "\ea93";
}

.icon-triangle-right:before {
    content: "\f05a";
}

.icon-chevron-right:before {
    content: "\f078";
}

.icon-circle-slash:before {
    content: "\f084";
}

.icon-chevron-up:before {
    content: "\f0a2";
}

.icon-chevron-down:before {
    content: "\f0a3";
}

.icon-chevron-left:before {
    content: "\f0a4";
}