$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$pesticide-debug: false;
$pesticide-debug-outline: false;
$pesticide-debug-depth: false;

@import "libs/pesticide";
@import "breakpoint";
@import "compass/css3/flexbox";
@import "compass/css3/transition";
@import "compass/css3/transform";

@import "fonts";
@import "variables";
@import "icons-base";

/**
 * Functions, mixins, definitions
 */
@import "utils/functions";
@import "utils/animations";
@import "utils/mixins";
@import "utils/placeholders";

@import "icons-override";

/**
 * Base styling
 */
@import "reset";
@import "base";
@import "states";

/**
 * Components, modules
 */
@import "components/banner";
@import "components/nav";
@import "components/header";
@import "components/ranking-header";
@import "components/list";
@import "components/autocomplete";
@import "components/screen-blocker";
@import "components/screen-loader";
@import "components/progress-radial";
@import "components/select-list";
@import "components/action-button";
@import "components/tag";
@import "components/comments";
@import "components/social-options";
@import "components/details-block";
@import "components/menu";
@import "components/form";
@import "components/slider";
@import "components/dialog";
@import "components/notification";
@import "components/highlighted-info";

/**
 * Pages
 */
@import "pages/base";
@import "pages/agencies";
@import "pages/login";
@import "pages/reviews";
@import "pages/salaries";
@import "pages/news";

/**
 * Platform specific css
 */

@import "platforms/android";
@import "platforms/ios";
@import "platforms/chrome";
@import "platforms/firefox";
@import "platforms/desktop";
@import "platforms/windows-phone";

/**
 * Hacks!
 */
@import "hacks";