/* This parent can be any width and height */
%vertical-centered-parent {
  text-align: center;

  /* May want to do this if there is risk the container may be narrower than the element inside */
  white-space: nowrap;

  &:after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }

  > *{
    display: inline-block;
    vertical-align: middle;
  }
}